.fade-out {
  animation: fadeOut ease 6s;
  -webkit-animation: fadeOut ease 6s;
  -moz-animation: fadeOut ease 6s;
  -o-animation: fadeOut ease 6s;
  -ms-animation: fadeOut ease 6s;
  font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
}
@keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-ms-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
}