body {
  font-family: sans-serif;
  margin: 0 auto;
}
a {
  text-decoration: none;
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(230, 230, 230, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  background: rgba(230, 230, 230, 1);
  top: 50%;
  left: 50%;
  height: 300px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}